/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1. Vị trí
2. Kích thước:width:height;
3. Màu sắc
4.Kiểu dáng(kiểu chữ, hình tròn, font-size) */
/* common */
.row{
    margin-left:-8px;
    margin-right:-8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float:left;
    padding:0 8px;
}
.col-third{
    width:33.3333%;
}
.mt-8{
    margin-top:8px !important;
}
.mt-16{
    margin-top:16px !important;
}
.mt-32{
    margin-top:32px;
}
.col-half{
    width:50%;
}
.col-full{
    width:100%;
}
.text-center{
    text-align: center !important;
}
.text-white{
    color:#Fff !important;
}
.pull-right{
    float:right !important;
}
#header{
    position:fixed;
    top:0;
    right:0;
    left:0;
    height: 46px;
    background-color: #000;
    z-index: 1;

}
#nav{
    display:inline-block;
}
#nav > li{
    display:inline-block;
}

#nav li{
    position: relative;
    
}
#nav .subnav{
    list-style: none;
}
#nav .subnav{
    position: absolute;
    top:100%;
    left:0;
    background-color: #fff;
    color:#000;
    min-width: 160px;
    box-shadow: 0 1px 2px #ccc;
    display:none;
}

#nav li:hover .subnav{
    display: block;
}


#nav > li:hover > a,
#nav .subnav li:hover a{
    background-color:#cac5c5 ;
    color:#000;
}
#nav .subnav a{
 color: #000;
 padding: 0 12px;
 line-height: 38px;

}
#nav .nav-arrow-down{
    font-size: 14px;
}
#nav > li > a{
    color:#e4e0e0;
    text-transform: uppercase;
}
#nav li a{
    display:block;
    text-decoration: none;
    line-height:46px;
    padding:0 21px;

}
#nav >li:first-child{
    display:inline-block;
}
#header .mobile-menu-btn{
    position:absolute;
    top:0;
    right:0;
    display:none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float:right;
    padding:0 21px;
}
#header .mobile-menu-btn:hover {
    background-color: #ccc;

} 
#header .mobile-menu-btn:hover .menu-icon{
    color:#000;
}
#header .search-btn:hover{
    background-color: #F53A2F;
    cursor:pointer;

}
#header .menu-icon,
#header .search-icon{
    color:#fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top:46px;
    padding-top:50%;
    background: url('../img/slider1.jpg') top center/ cover no-repeat;
}
#slider .text-content{
    position:absolute;
    bottom:47px;
    left:50%;
    transform: translateX(-50%);
    color:#fff;
    text-align: center;
}
#slider .text-heading{
    font-size: 24px;

}
#slider .text-decription{
    font-size: 15px;
    font-weight: 500;
    margin-top:25px;
    text-shadow: 0 1px 1px #000;
}
#content{

}
#content .content-section{
    width:800px;
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding: 64px 0px 112px ;
    padding-left:16px;
    padding-right:16px;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}
#content .section-sub-heading{
    margin-top:25px;
    text-align: center;
    font-size:15px;
    font-style: italic;
    color:#a4a4a4;
    
}
#content .about-text{
    font-size: 15px;
    margin-top:25px;
    line-height:1.4;
    text-align: justify;
}
#content .member-list{
    padding-top:32px;
    /* overflow: hidden; */

}

#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top:15px;
    width:154px;
    border-radius: 4px;
}
.clear{
    clear:both;
}
/* tuor section */
.tour-section{
    background-color: #000;
}
.tickets-list{
    margin-top:40px;
    list-style: none;
    background-color: white;
}
.tickets-list li{
    color:#757575;
    font-size: 15px;
    padding:11px 16px;
    border-bottom:1px solid #ddd;
    
}
.tickets-list .sold-out{
    margin-left:16px;
    background-color: #f44336;
    padding:3px 4px;
    color:#fff;
}

.tickets-list .quantity{
    float:right;
    width:24px;
    height:24px;
    background-color: #000;
    color:#fff;
    border-radius: 50%;
    text-align:center;
    line-height: 24px;
    margin-top:-3px;

}
/* place */

.place-list{
    margin-top: 16px;
    /* overflow: hidden; or use clear */
}
.place-img{
    display:block;
    width:100%;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    padding:16px;
    font-size: 15px;
    background-color: #fff;
}
.place-heading{
    font-size: 15px;
    font-weight:600;
}

.place-time{
    margin-top:15px;
    color:#757575;
}
.place-desc{
    margin-top:15px;
    line-height: 1.4;
}

.btn{
    margin-top:15px;
    display:inline-block;
    color:#fff;
    background-color: #000;
    text-decoration: none;
    padding:11px 16px;
    border:none;
    cursor: pointer;
    text-align: center;
}
.btn:hover{
    background-color: #ccc;
    color:#000;
}

/* contact */
.contact-content{
    margin-top:48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info a{
    color:#101aef;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-info-img{
    display:inline-block;
    width:30px;
}
.contact-form{
    font-size: 15px;

}
.contact-form .form-control{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
}

.map-section img{
    width: 100%;

}
#footer{
    padding:64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    color:rgba(0, 0 , 0 ,0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover{
    color:rgba(0, 0 , 0 ,0.4);
}
#footer .copyright{
    margin-top: 15px;
    color:rgba(0, 0 , 0 ,0.6);
}
#footer .copyright a{
    color:rgba(0, 0 , 0 ,0.6);
}
/* modal */
.modal{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0 , 0 ,0.4);
    display:none;
}

.modal.open{
    display:flex;
}
.modal-container{
    position: relative;
    background-color: #fff;
    width:900px;
    max-width: calc(100% - 32px);
    min-height:300px;
    animation: modalFaceIn ease 0.5s;
}
.modal-close{
    position:absolute;
    top:0;
    right:0;
    color:#fff;
    padding:12px;
    cursor:pointer;
}
.modal-close:hover{
    color:#000;
    background-color: #cac5c5;
}
.modal-header{
    height:130px;
    font-size: 30px;
    color:#fff;
    background-color: rgb(0,139,126);
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-header-img{
    margin-right:16px;
}
.modal-body{
    padding:16px;
}
.modal-label{
    display:block;
    font-size: 15px;
    margin-bottom:12px;
}
.modal-input{
    font-size: 15px;
    display: block;
    border:1px solid #ccc;
    width:100%;
    padding:10px;
    margin-bottom:24px;
}
#buy-tickets{
    font-size: 15px;
    display:block;
    width:100%;
    border:none;
    padding:18px;
    text-transform: uppercase;
    color:#fff;
    background-color: rgb(0,139,126);
    cursor: pointer;
}
#buy-tickets:hover{
    background-color: #ccc;
    color:#000;
}
.modal-footer{
    padding:16px;
    text-align: right;
    
}
.modal-help a{
    color:rgb(72, 166, 243)
}

@keyframes modalFaceIn {
    from{ opacity: 0;
        transform:translateY(-140px)
    }
    to{
        opacity: 1;
        transform:translatey(0)
    }
    
}

/* responsive */













